body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: black;
    background-image: url("../png/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, sans-serif;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scrollbar-color: rgb(175, 159, 131) rgb(33, 33, 33);
}
.section{
    background-color: hsla(9, 18%, 6%, 0.75);
    margin: 12px auto;
    width: calc(100%-40px);
    max-width: 1250px;
    padding: 12px 20px 12px 20px;
}
h1{
    text-align: center;
    font-size: 2.75rem;
    font-weight: normal;
    padding: 0;
    margin: 18px 0 18px 0;
    letter-spacing: 1.75rem;
    color: #d85220;
    text-shadow:
        -1px -1px 3px #ffd72b,
        1px -1px 3px #ffd72b,
        -1px 1px 3px #ffd72b,
        1px 1px 3px #ffd72b;
}
h2{
    text-align: center;
    color: #ffd72b;
    font-weight: normal;
    font-size: 1.5rem;
    text-shadow:
        -1px -1px 0 #d85220,
        1px -1px 0 #d85220,
        -1px 1px 0 #d85220,
        1px 1px 0 #d85220;
    margin: 0;
    padding: 18px 0 0 0;
}
h3{
    text-align: center;
    color: hsl(26, 5%, 75%);
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.bigA{
    display: inline-block;
    transform: skew(12deg);
    font-size: 3.75rem;
}
.b{
    display: inline-block;
    transform: skew(9deg);
}
.s{
    display: inline-block;
    transform: skew(6deg);
}
.t1{
    display: inline-block;
    transform: skew(3deg);
}
.a{
    display: inline-block;
    transform: skew(-3deg);
}
.k{
    display: inline-block;
    transform: skew(-6deg);
}
.t2{
    display: inline-block;
    transform: skew(-9deg);
}
.bigS{
    display: inline-block;
    transform: skew(-12deg);
    font-size: 3.75rem;
}
.poem, .bio{
    color: hsl(26, 5%, 85%);
    font-size: .85rem;
    padding: 0;
}
.poem{
    margin: 0 0 12px 5vw;
}
.bio{
    margin: 0 0 18px 0;
    text-indent: 2vw;
    text-align: justify;
    text-justify: inter-word;
}