body, html{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: black;
    background-image: url("../png/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, sans-serif;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scrollbar-color: rgb(175, 159, 131) rgb(33, 33, 33);
}
.section{
    background-color: hsla(9, 18%, 6%, 0.8);
    margin: 12px auto;
    width: calc(100%-40px);
    max-width: 1250px;
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    font-size: 2.75rem;
    font-weight: normal;
    padding: 0;
    margin: 18px 0 18px 0;
    letter-spacing: 1.75rem;
    color: #d85220;
    text-shadow:
        -2px 0px 2px #ffd72b,
        2px 0px 2px #ffd72b,
        0px 2px 2px #ffd72b,
        0px -2px 2px #ffd72b,
        -2px -2px 2px #ffd72b,
        2px 2px 2px #ffd72b,
        -2px 2px 2px #ffd72b,
        2px -2px 2px #ffd72b;
}
h2{
    text-align: center;
    color: #ffd72b;
    font-weight: normal;
    font-size: 1.5rem;
    text-shadow:
        -1px -1px 0 #d85220,
        1px -1px 0 #d85220,
        -1px 1px 0 #d85220,
        1px 1px 0 #d85220;
    margin: 0 0 1rem 0;
    padding: 18px 0 0 0;
}
h3{
    text-align: center;
    color: hsl(26, 5%, 75%);
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
h1, h2, h3{
    display: block;
    clear: both;
    width: 100%;
}
.bigA{
    display: inline-block;
    transform: skew(12deg);
    font-size: 3.75rem;
}
.b{
    display: inline-block;
    transform: skew(9deg);
}
.s{
    display: inline-block;
    transform: skew(6deg);
}
.t1{
    display: inline-block;
    transform: skew(3deg);
}
.a{
    display: inline-block;
    transform: skew(-3deg);
}
.k{
    display: inline-block;
    transform: skew(-6deg);
}
.t2{
    display: inline-block;
    transform: skew(-9deg);
}
.bigS{
    display: inline-block;
    transform: skew(-12deg);
    font-size: 3.75rem;
}
.albumImg, .albumText{
    max-width: 1210px;
    height: fit-content;
    padding: 0;
    box-shadow: 0 0 25px black;
}
.albumImg{
    width: 50%;
    margin: 0 0 18px 0;
}
.albumText{
    width: calc(50% - 40px);
    margin: 0 0 18px 20px;
    padding: 10px;
    border-radius: 25px;
    font-size: .85rem;
    color: hsl(26, 5%, 85%);
    text-indent: 2vw;
    text-align: justify;
    text-justify: inter-word;
}
@media screen and (max-width: 900px){
    .albumImg, .albumText{
        width: 100%
    }
    .albumText{
        margin: 0;
    }
}
.albumText p{
    margin: 0;
    padding: 0;
    font-size: .85rem;
    color: hsl(26, 5%, 85%);
    text-indent: 2vw;
    text-align: justify;
    text-justify: inter-word;
}
.albumText p a{
    line-height: 1.7rem;
}
img.artwork{
    color: hsl(26, 5%, 75%);
    font-size: .75rem;
    width: 100%;
    height: auto;
}
.poem, .bio{
    color: hsl(26, 5%, 85%);
    font-size: .85rem;
    padding: 0;
}
.poem{
    margin: 0 0 12px 5vw;
}
.bio{
    margin: 0 0 18px 0;
    text-indent: 2vw;
    text-align: justify;
    text-justify: inter-word;
}
p a{
    text-decoration: none;
}
p a:link, p a:visited{
    color: #ffd72b;
}
p a:hover, p a:active{
    color: #d85220;
}
.copyright{
    text-align: center;
    color: hsl(26, 5%, 75%);
    font-size: .75rem;
    text-shadow:
        -1px 0px 3px hsla(9, 18%, 6%, 0.8),
        1px 0px 3px hsla(9, 18%, 6%, 0.8),
        0px 1px 3px hsla(9, 18%, 6%, 0.8),
        0px -1px 3px hsla(9, 18%, 6%, 0.8);
}