/* !--  GLOBAL LAYOUT -- */
body.global{	
	background-color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size:cover;
}
#wp1{
	background-image: url("http://i.imgur.com/7pSwoNr.png");
}
/*#wp2{
	background-image: url("http://i.imgur.com/rKLwGyV.jpg");
}*/
#wp2{
	background-image: url('https://orig00.deviantart.net/e53c/f/2017/287/9/6/wp2a_by_antoineportes-dbqj7v7.png')
}
#wp3{
	background-image: url("http://i.imgur.com/JswtuBx.png");
}
#wp4{
	background-image: url("http://i.imgur.com/qAHqpvK.png")
}
div#global-1st{
	color:#FFFFFF;
	text-shadow:0px -2px 3px #000000, 0px 2px 3px #000000,-2px 0px 3px #000000,2px 0px 3px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1em;
	margin:80px 10% 25px 10%;
	padding:50px 50px 50px 50px;
	background-color:rgba(0,0,0,0.85);
}
div.global{
	color:#FFFFFF;
	text-shadow:0px -3px 5px #000000, 0px 3px 5px #000000,-3px 0px 5px #000000,3px 0px 5px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1em;
	margin:25px 10% 25px 10%;
	padding:50px 50px 50px 50px;
	background-color:rgba(0,0,0,0.85);	
}
div#footer{
	color:#FFFFFF;
	text-shadow:0px -3px 5px #000000, 0px 3px 5px #000000,-3px 0px 5px #000000,3px 0px 5px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:0.75em;
	margin:15px 10% 15px 10%;
	padding:15px 15px 15px 15px;
	background-color:rgba(0,0,0,0.85);
	text-align:center;
}
.indentation{
	text-indent: 2.5%;
}
.justify {
	text-align: justify;
	text-justify: inter-word;
}
h2.divtitle{
	font-size:200%;
	margin:auto;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;
}
		
/* !--  About  -- */
ul#presta{
	list-style-type:circle;
}
#bigletter{
	float:left;
	font-size:400%;
	font-family:Georgia, serif;
	line-height:90%;
}
#firstword{
	font-variant:small-caps;
	font-size:110%;
}
	
/* !--  Sounds  -- */
table.summary{
	width:100%;
	border-collapse:collapse;
}
.summary th{
	width:25%;
	font-size:120%;
	font-variant:small-caps;
}
table#sounds{
	width:100%;
	border-collapse:collapse;
}
table#sounds td{
	width:50%;
}
.description{
	text-align:left;
	vertical-align:top;
}
.description ol{
	counter-reset:work-parts;
	list-style-type:none;
}
ol li{
	position:relative;
}
ol li:before{
	content: counter(work-parts, upper-roman)'. ';
	counter-increment: work-parts;
	position:absolute;
	right:100%;
	margin-right:0.5em;
}
td.player{
	text-align:center;
	margin:10px 15px 25px 10px;
}
td.left{
	padding-right:3%;
}
td.right{
	padding-left:3%;
}
tr.odd{
	border-bottom:2px solid rgba(255, 255, 255, 0.5);
}
tr.odd th, td{
	padding-bottom:10px
}
tr.even{
	border-top:2px solid rgba(255, 255, 255, 0.5);
}
tr.even th, td{
	padding-top:10px
}
h3#tune{
	font-size:12;
	text-align:center;
	margin:0px 0px 0px 0px;
	font-weight:normal;
	text-decoration:underline;
}

/* !-- Contact -- */
#phone{
	color:#AD0000;
	cursor:pointer;
	text-shadow:0px -3px 5px #000000, 0px 3px 5px #000000,-3px 0px 5px #000000,3px 0px 5px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration: 0.4s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.4s;/*Mozilla*/
	transition-duration: 0.4s;
}
#phone:hover{	
	color:#000000;
	cursor:pointer;
	text-shadow:0px -3px 5px #AD0000, 0px 3px 5px #AD0000,-3px 0px 5px #AD0000,3px 0px 5px #AD0000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration: 0.4s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.4s;/*Mozilla*/
	transition-duration: 0.4s;
}
				
/* !--  Links  -- */
div#global-links-1st{
	color:#FFFFFF;
	text-shadow:0px -2px 3px #000000, 0px 2px 3px #000000,-2px 0px 3px #000000,2px 0px 3px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	margin:80px 10% 25px 10%;
	padding:50px 50px 10px 50px;
	background-color:rgba(0,0,0,0.6);
}
div.global-links{
	color:#FFFFFF;
	text-shadow:0px -3px 5px #000000, 0px 3px 5px #000000,-3px 0px 5px #000000,3px 0px 5px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	margin:25px 10% 25px 10%;
	padding:10px 50px 10px 50px;
	background-color:rgba(0,0,0,0.6);	
}
div#global-links-last{
	color:#FFFFFF;
	text-shadow:0px -2px 3px #000000, 0px 2px 3px #000000,-2px 0px 3px #000000,2px 0px 3px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	margin:25px 10% 25px 10%;
	padding:10px 50px 50px 50px;
	background-color:rgba(0,0,0,0.6);
}
#links a:link, #links a:visited{
	color:#AD0000;
	cursor:pointer;
	text-shadow:0px -3px 5px #000000, 0px 3px 5px #000000,-3px 0px 5px #000000,3px 0px 5px #000000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration: 0.4s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.4s;/*Mozilla*/
	transition-duration: 0.4s;
}
#links a:hover{	
	color:#000000;
	cursor:pointer;
	text-shadow:0px -3px 5px #AD0000, 0px 3px 5px #AD0000,-3px 0px 5px #AD0000,3px 0px 5px #AD0000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration: 0.4s;/*Safari & Chrome*/
	-moz-transition-duration: 0.4s; /* Mozilla */
	transition-duration: 0.4s;
}
#links a:active{
	color:#AD0000;
	cursor:pointer;
	text-shadow:0px -3px 5px #AD0000, 0px 3px 5px #AD0000,-3px 0px 5px #AD0000,3px 0px 5px #AD0000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration:0.2s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.4s;/*Mozilla*/
	transition-duration:0.2s;					
}
			
/* !--  Navigation Bar  -- */	
#navbar {
	background-color:#000000;
	width:100%;
	height:50px;
	position:fixed;
	top:0px;
	box-shadow:10px 0px 20px #000000;
}
#navhome{
	text-align:left;
	margin: 0px 0px 0px 0px;
	height:40px;
	width:120px;
}
#navhome a{
	margin:0px 40px 0px 20px;
	cursor:pointer;
}
.navsectionself{
	height:40px;
	width:120px;
	margin:0px 1px 0px 1px;
	background-color:#FFFFFF;
	text-align:center;
	vertical-align:middle;
}
.navsectionlink{
	height:40px;
	width:120px;
	margin:0px 1px 0px 1px;
	background-color:#000000;
	text-align:center;
	vertical-align:middle;
}
.navhead-en {
	color:#000000;
	font-family:Book Antiqua;
	font-size:100%;
	text-decoration:none;
	cursor:pointer;
}
.navhead-en a:link, .navhead-en a:visited{
	color:#FFFFFF;
	cursor:pointer;
	text-shadow:none;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration:0.4s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.4s;/*Mozilla*/
	transition-duration:0.4s;
}
.navhead-en a:hover{
	color:#000000;
	cursor:pointer;
	text-shadow:0px -3px 5px #FFFFFF, 0px 3px 5px #FFFFFF,-3px 0px 5px #FFFFFF,3px 0px 5px #FFFFFF;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration: 0.4s; /* Safari */
	/*Mozilla*/-moz-transition-duration: 0.4s; /* Mozilla */
	transition-duration:0.4s;
}
.navhead-en a:active{
	color:#FFFFFF;
	cursor:pointer;
	text-shadow:0px -3px 5px #FFFFFF, 0px 3px 5px #FFFFFF,-3px 0px 5px #FFFFFF,3px 0px 5px #FFFFFF;
	text-decoration:none;
	/*Safari & Chrome*/-webkit-transition-duration:0.2s;/*Safari & Chrome*/
	/*Mozilla*/-moz-transition-duration: 0.2s;/*Mozilla*/
	transition-duration:0.2s;					
}
#navlang{
	position:relative;
	right:20px;
	display:inline-block;
	float:right;
	clear:none;
}
#navlang img{
	cursor:pointer;
}
